<!DOCTYPE html>
<html>
    <head>
        <title>Case Received</title>
    </head>
    <body>
        <h1>A case {{ caseId }} received from {{username}}</h1>
        <p>
            We have recived a new case from {{username}}.<br>
            <b>{{caseTitle}}</b>
        </p>
    </body>
</html>