@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root  {
    --background: 297 100% 95%;
    --foreground: 297 5% 0%;
    --card: 297 50% 90%;
    --card-foreground: 297 5% 10%;
    --popover: 297 100% 95%;
    --popover-foreground: 297 100% 0%;
    --primary: 297 63.6% 28%;
    --primary-foreground: 0 0% 100%;
    --secondary: 297 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 259 30% 85%;
    --muted-foreground: 297 5% 35%;
    --accent: 259 30% 80%;
    --accent-foreground: 297 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 297 5% 90%;
    --border: 297 30% 50%;
    --input: 297 30% 18%;
    --ring: 297 63.6% 28%;
    --radius: 0.75rem;
  }
  .dark  {
    --background: 297 50% 5%;
    --foreground: 297 5% 90%;
    --card: 297 50% 0%;
    --card-foreground: 297 5% 90%;
    --popover: 297 50% 5%;
    --popover-foreground: 297 5% 90%;
    --primary: 297 63.6% 28%;
    --primary-foreground: 0 0% 100%;
    --secondary: 297 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 259 30% 15%;
    --muted-foreground: 297 5% 60%;
    --accent: 259 30% 15%;
    --accent-foreground: 297 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 297 5% 90%;
    --border: 297 30% 18%;
    --input: 297 30% 18%;
    --ring: 297 63.6% 28%;
    --radius: 0.75rem;
  }

}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
